{% extends "base.html" %}

{% block content %}
<html>

    <body>

        <div class="cleartitle">
            <h2>North Carolina Based Companies</h2>
        </div>
  <div class="grid">
    {% for c in companies %}



              <article>

                <img src="image/yafinance.jpg" alt="Company Logo">
                <div class="text">

                   {# Each "company" is a Company model object. #}
                  <a href="{{ c.get_absolute_url }}"><h4 style="color:#ff8d00">{{ c }}</h4></a>
                  <h4>Region:{{c.region}}</h4>
                  <h4>URL: <a class="button-blog" style="font-size: 12px;" href="{{c.get_absolute_url}}">{{c.url}}</a></h4>
                </div>
              </article>


    {% endfor %}
  </div>
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ companies.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ company.number}} of {{ companies.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ companies.next_page_number }}">next</a>
                    <a href="?page={{ company.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </body>

</html>>
{% endblock %}
