{% extends "base.html" %}

{% block content %}
<html>

    <body>
        <ul>
            {% for c in companies %}
            <!--{# Each "company" is a Company model object. #}
            <li> <a href="{{ c.get_absolute_url }}">{{ c }}</a></li>-->
            <div class="row">
              <div class="col-md-4">
                <div class="row company-tile">
                  <div class="col-md-5 tile-info">
                      <li><a href="{{ c.get_absolute_url }}"><h4 style="color:#5c5c5c">{{ c }}</h4></a></li>
                      <p>Region: {{c.region}}</p>
                      <p>URL: <a href="{{c.get_absolute_url}}">{{c.url}}</a></p>
                  </div>
                </div>
              </div>
            </div>

        {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ companies.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ company.number}} of {{ companies.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ companies.next_page_number }}">next</a>
                    <a href="?page={{ company.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </body>

</html>>
{% endblock %}
