{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Company name
                    </h5>
                    <p class="card-text">
                        <a href="{% url "yafinance:company-list" %}">{{ c.count }} Companies</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
<!--This is for visualization-->

          <h4 style="font-size: 18px; margin: auto;">Select a class:
            <select onchange="renderVis(this.options[this.selectedIndex].value);">
                <option value="cs">All</option>
                <option value="northwest">Northwest-like companies</option>
                <option value="southwest">Southwest-like companies</option>
                <option value="north">North</option>
                <option value="none">None</option>
            </select>
           </h4>

            <span id="details">&nbsp;</span>
<!--This is for my scatter plot suppose to show up-->
             <div id="vis_container"></div>
<!--This is for my bar chart-->
             <div id="fillBar"> Bar Chart Loading..
            </div>



<!--This is for map-->

        <div class="map" id="map"> initMap();</div>

<!--This is for company bar-->



        <div id="company-bar"></div>

    <script>
        //console.log("try to render")
        initVis();
        renderVis("cs")
        //renderBar();
    </script>

<script src="https://unpkg.com/simple-statistics@4.1.0/dist/simple-statistics.min.js"></script>



<script src="{% static "yafinance/js/bar.js" %}"></script>
<script src="{% static "yafinance/js/scatter.js" %}"></script>
<script src="{% static "yafinance/js/home.js" %}"></script>

{% endblock %}






